<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>RevolvingDoor</title>
  <meta name="description" content="RevolvingDoor game">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="game.js"></script>
  <script src="gameLogic.js"></script>
  <script src="hexagon.js"></script>
  <script src="hexagon2.js"></script>
  <script src="messageService.js"></script>
  <script src="scaleBodyService.js"></script>
  <!-- for local testing purposes ! -->
  <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
</head>
<body ng-controller="Ctrl" bgcolor= "#000000" width="600" height="600">
    <div>
    <svg id = "svg" width="420" height="600">
    	<g class="tile" ng-repeat="tileRow in tileLs">
    		<g class="tile" ng-repeat="tile in tileRow" ng-attr-transform="translate({{tile.tx}},{{tile.ty}})">
    		<polygon style="fill:rgb(0,0,0);stroke-width:3;stroke:rgb(255,255,0)" ng-attr-points="{{tile.points}}"></polygon>
    		<polygon ng-show="putToken" ng-repeat="edge in tile.edgeLs" ng-click="mouseClick(tile.r, tile.c, edge.s)" style="fill-opacity:0;fill:rgb(255,0,0);stroke-width:0;stroke:rgb(255,0,0)" ng-attr-points="{{edge.points}}"></polygon>
    		<path ng-repeat="path in tile.pathLs" ng-attr-d="{{path.str}}" style="stroke:#FFFFFF; fill:none; stroke-width:3"/>
    		</g>
    	</g>
    	<g class="tileCurr" ng-attr-transform="translate({{currTile.tx}},{{currTile.ty}})">
    		<polygon style="fill:rgb(0,0,0);stroke-width:3;stroke:rgb(255,255,0)" ng-attr-points="{{currTile.points}}"></polygon>
	    	<path ng-repeat="path in currTile.pathLs" ng-attr-d="{{path.str}}" style="stroke:#FFFFFF; fill:none; stroke-width:3"/>
    	</g>
    	<g class="path" ng-show="pathLs[0].length">
    		<path ng-repeat="path in pathLs[0]" ng-attr-transform="translate({{path.tx}},{{path.ty}})" ng-attr-d="{{path.str}}" style="stroke:lime; fill:none; stroke-width:5"/>
    	</g>
    	<g class="path" ng-show="pathLs[1].length">
    		<path ng-repeat="path in pathLs[1]" ng-attr-transform="translate({{path.tx}},{{path.ty}})" ng-attr-d="{{path.str}}" style="stroke:purple; fill:none; stroke-width:5"/>
    	</g>
    	<g class="token" ng-show="tokenLs[0]" ng-attr-transform="translate({{tokenLs[0].tx}},{{tokenLs[0].ty}})">
    		<circle ng-attr-cx="{{tokenLs[0].pt[0]}}" cy="{{tokenLs[0].pt[1]}}" r="15" stroke="black" stroke-width="0" fill="lime" />
    	</g>
    	<g class="token" ng-show="tokenLs[1]" ng-attr-transform="translate({{tokenLs[1].tx}},{{tokenLs[1].ty}})">
    		<circle ng-attr-cx="{{tokenLs[1].pt[0]}}" cy="{{tokenLs[1].pt[1]}}" r="15" stroke="black" stroke-width="0" fill="purple" />
    	</g>
    </svg>
    <br/>
    <img id="switch" ng-click ="selTile()"  src="switch.png" width="70" height="70" ng-hide = "putToken"> </img>
    <img id="turn"   ng-click ="turnTile()" src="turn.png"   width="70" height="70" ng-hide = "putToken"> </img>
    <img id="ok"     ng-click ="makeMove()" src="ok.png"     width="70" height="70" ng-hide = "putToken"> </img>
    <h1 ng-show= "putToken" class="ng-hide"> <font color="red">Put a token by touching an edge </font></h1>
    </div>

    <!--
  <textarea ng-model="jsonState" rows=10 cols=100 readonly></textarea>
  <table border="1">
    <tr width="50px" height="50px" ng-repeat="row in board track by $index">
      <td width="50px" height="50px" ng-repeat="cell in row track by $index">&nbsp; {{cell}} &nbsp;</td>
    </tr>
  </table>
  <textarea rows=10 cols=100 readonly>
    Example steps:

    [{setTurn: {turnIndex : 1}}, {set: {key: 'board', value: [[[-1, -1],[-1, -1],[-1, -1]], [[-1, -1],[-1, -1],[-1, -1]], [[-1, -1],[-1, -1],[-1, -1]]]}}, {set: {key: 'token', value: [[2,1,5], [-1,-1, -1]]}}, {set: {key: 'delta', value: {row: 2, col: 1, id: 0, rot: 5}}}]

    [{setTurn: {turnIndex : 0}}, {set: {key: 'board', value: [[[-1, -1],[-1, -1],[-1, -1]], [[-1, -1],[-1, -1],[-1, -1]], [[-1, -1],[-1, -1],[-1, -1]]]}}, {set: {key: 'token', value: [[2,1,5], [0,0, 0]]}}, {set: {key: 'delta', value: {row: 0, col: 0, id: 0, rot: 0}}}]

    [{setTurn: {turnIndex : 1}}, {set: {key: 'board', value: [[[-1, -1],[-1, -1],[-1, -1]], [[-1, -1],[-1, -1],[-1, -1]], [[-1, -1],[1, 5],[-1, -1]]]}}, {set: {key: 'token', value: [[2,2,0], [0,0, 0]]}}, {set: {key: 'delta', value: {row: 2, col: 1, id: 1, rot: 5}}}]

    [{setTurn: {turnIndex : 0}}, {set: {key: 'board', value: [[[4, 0],[-1, -1],[-1, -1]], [[-1, -1],[-1, -1],[-1, -1]], [[-1, -1],[1, 5],[-1, -1]]]}}, {set: {key: 'token', value: [[2,2,0], [0,1, 0]]}}, {set: {key: 'delta', value: {row: 0, col: 0, id: 4, rot: 0}}}]


    All operations in GameApi:
    [
      {setTurn: {turnIndex: 1}},
      {set: {key: "k", value: "v"}},
      {endMatch: {endMatchScores: [42, -2]}},
      {set: {key: "k", value: "v", visibleToPlayerIndexes: [0]}},
      {setVisibility: {key: "k", visibleToPlayerIndexes: null}},
      {shuffle: {keys: ["k1", "k2"]}},
      {setRandomInteger: {key: "k", from: 0, to: 6}},
      {"delete": {key: "k"}}
    ]
  </textarea>
  <br>
  <textarea ng-model="move" rows=10 cols=100></textarea>
  <br>
  <button ng-click="makeMove()">Make move</button>
  !-->
</body>
</html>
